@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Abel);
/* Base
------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  color: #696969;
  font-size: 1.4rem;
  font-family: "游ゴシック", YuGothic, "メイリオ", Verdana, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  line-height: 1.6;
  letter-spacing: 0.1em;
  background-color: #f0f8ff; }

a {
  color: #00008b;
  text-decoration: none; }
  a:visited {
    color: #000058; }
  a:hover {
    color: #000058; }
  a:active {
    color: #0000a5; }

/* Align
------------------------------------------------------------*/
.text-center {
  text-align: center; }

/* Layout
------------------------------------------------------------*/
.block-center, section .container, #skills i {
  display: block;
  margin-left: auto;
  margin-right: auto; }

/* Font
------------------------------------------------------------*/
.abel, section h2, #skills h3 {
  font-family: 'Abel', sans-serif; }

.uppercase, section h2, #skills h3 {
  text-transform: uppercase; }

/* Header
------------------------------------------------------------*/
header p {
  font-size: 1.6rem; }
header img {
  width: 100%;
  height: 250px; }

/* Contents
------------------------------------------------------------*/
section {
  padding: 60px 0; }
  section .container {
    width: 90%; }
  section h2 {
    font-size: 3.2rem; }

#skills {
  background-color: #48d1cc; }
  #skills .container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-flex-direction: column;
    flex-direction: column; }
  #skills h2 {
    color: #f0f8ff;
    margin-bottom: 60px; }
  #skills .skill-box {
    -webkit-flex: 1;
    flex: 1;
    margin: 10px 0;
    padding: 20px;
    background-color: #f0f8ff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  #skills i {
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    padding-top: 15px;
    background-color: #00008b;
    font-size: 4.5rem;
    color: #FFF;
    text-align: center;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%; }
  #skills h3 {
    color: #00008b;
    margin-bottom: 10px;
    font-size: 2.4rem;
    font-weight: bold; }

#contact ul {
  text-align: center;
  margin-top: 20px; }
  #contact ul li {
    display: inline-block;
    font-size: 2.8rem;
    text-align: center;
    margin-right: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top; }
    #contact ul li:last-child {
      margin-right: 0; }
  #contact ul a {
    display: block;
    color: #FFF;
    background-color: #00008b;
    -moz-border-radius: 10%;
    -webkit-border-radius: 10%;
    border-radius: 10%; }

/* Footer
------------------------------------------------------------*/
footer {
  background-color: #48d1cc;
  padding: 10px 0;
  text-align: center;
  color: #FFF; }

@media (min-width: 769px) {
  a:hover {
    text-decoration: underline; }

  /* Header
  ------------------------------------------------------------*/
  header p {
    font-size: 1.6rem; }
  header img {
    width: 100%;
    height: 500px; }

  .button-contact:hover, .button-contact:active {
    background-color: #696969;
    color: #FFF; }

  #skills .container {
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between; }
  #skills .skill-box {
    margin: 0 10px; }

  #works .works-box {
    width: 33.33333%; }
    #works .works-box a .works-box-inner {
      display: none; }
      #works .works-box a .works-box-inner .button-readmore:hover {
        background-color: #000058; }
    #works .works-box a:hover .works-box-inner {
      display: block;
      width: 100%; }

  #contact ul a:hover {
    background-color: #000058; } }

/*# sourceMappingURL=style.css.map */
